.header {
    grid-area: h;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 50px;


    background: rgb(28, 85, 201);
    background: -moz-linear-gradient(top, rgb(28, 85, 201) 0%, rgb(160, 44, 160) 100%);
    background: -webkit-linear-gradient(top, rgb(28, 85, 201) 0%, rgb(160, 44, 160) 100%);
    background: linear-gradient(to bottom, rgb(28, 85, 201) 0%, rgb(160, 44, 160) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c55c9', endColorstr='#a02ca0', GradientType=0);

}

.header img {
    width: 100px;

}
.loginBlock{
    margin-top: 10px;
    float: right;
    color: white;
}
.header .loginBlock a{
    text-decoration: none;
    color: white;
    font-size: 38px;
    font-family: 'Dancing Script', cursive;
}
.buton{
    background: black;
    color: white;
    border:1px solid #ffffff;
}